.Actor{
    color: black;
    transition: transform .2s;
}
.filmographie img{
    height: 150px;
    width: 100px;
}

.Actor .filmographie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.Actor .filmographie img:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);    
}

.Actor h1 {
    margin-top: 20px;
    color: rgb(207, 194, 194);
    text-shadow: 5px 5px 10px rgb(22, 22, 22);
}