.HomeBis {
    display: flex;
    align-items: center;
}

.ListMoviesHomeBlock {
    padding-top: 12px;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 750px){ 
    .ListMoviesHomeBlock {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto;
    }
    .HomeBis {
        flex-direction: column;
    }
}
