.ListActors{
    color: black;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListActors img {
    height: 140px;
    width: 140px;   
    object-fit: cover;
    border-radius: 50%;
    margin: 1vw;
}

.ListActors:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);    
}

.ListActors h3{
    color:white;
    margin-top: -6px
}