.MovieBis {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 35px
}

.ListActorsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 20px;
    background-color: #3a3d42;
    border-radius: 5px;
    padding-top: 20px;
}

.Movie .displayButtons {
    margin-top: -10px;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 70vw;
    max-width: 300px;
}
.Movie .displayMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moviesInfos {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.SearchBar input{
    border-radius: 10px;
    background-color: rgb(20, 20, 24);
    color:white;
    padding-left: 10px;
    height: 30px;
    width: 400px;
    font-size: medium;  
}


@media screen and (max-width: 600px){
    .SearchBar input{
        width: 60vw;
    }
    .ListActorsBlock {
        flex-wrap: nowrap ;
        justify-content: flex-start;
        margin: 20px;
        overflow-x: scroll;
    }
}
@media screen and (max-width: 400px){
    .moviesInfos {
        width: 80vw;
    }
}
@media screen and (min-width: 1100px){
    .MovieBis {
        display: flex;
        flex-direction: row
    }
    .ListActorsBlock {
        margin: 50px 20px;
        max-height: 600px;
        max-width: 600px;
        overflow-x: scroll;
    }
    .displayMovie{
        width: 500px;
    }
    
}

