.Search{
    align-items: center;
    margin: -20px 10px;  
}

.backHome {
    margin-left: 30%
} 

.Search h2{
    padding-top: 20px
}

.genre {
    cursor: pointer;
    width: 100px;
    padding: 5px;   
}

.displayButtons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.displayButtons button{
    margin: 5px
}

.listGenres {
    height: 45px;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    overflow: auto;
}
