.Search{
    align-items: center;
    margin: -20px 10px;
    
}

.genre {
    cursor: pointer;
    width: 100px;
    padding: 5px;   
}

.listGenres {
    height: 45px;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    overflow: auto;
}
